extends layout.pug 

block content 
    div(class="station-border")
        div(class="flex-station-row")
            div(class="flex-info-box")
                h3 Kelheim 
            div(class="flex-info-box")
                h3 Wetter 
                p 600 
            div(class="flex-info-box")
                h3 Temperatur 
                p 0.25 Grad 
            div(class="flex-info-box")
                h3 Wind 
                p 1.02 bft 
            div(class="flex-info-box")
                h3 Luftdruck 
                p 1002 hpa 
    table
        tr 
            th Wetter 
            th Temperatur 
            th Wind 
            th Luftdruck
        tr
            td 800
            td 20.32
            td 0.89
            td 1016
        tr
            td 800
            td 20.32
            td 0.89
            td 1016
        tr
            td 400
            td 32.5
            td 15
            td 90
        tr
            td 400
            td 32.5
            td 15
            td 90
        tr
            td 800
            td 11.16
            td 2.23
            td 1024
        tr
            td 800
            td 11.16
            td 2.23
            td 1024
        tr
            td 800
            td -6.16
            td 1.15
            td 1027